
<div class="banner" style="background-image: url('<%=image_url("bansky.jpg")%>');">
  <div class="banner-header">
    <h1>Le premier site de rencontres inspirantes</h1>
  </div>
  <div class="banner-content">
      <div class="connexionbtn">
        <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path , class: "btn btn-primary btn-lg" %>
      </div>
    </div>
 </div>
