<div id="carouselExampleSlidesOnly" class="carousel slide tamere" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "art.jpg", class: "d-block w-100", alt:"First slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>hello word</h5>
        <p>petite pute</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "art.jpg", class: "d-block w-100", alt:"First slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "art.jpg", class: "d-block w-100", alt:"First slide" %>
    </div>
  </div>
</div>
