<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Rencontrez des passionnés d'histoire </h2>
    <h3>Ces personnes sont plus ouverts que vous ne le pensez</h3>
    <p >Imaginez pouvoir communiquer avec un professeur, un passionné, un étudiant en toute simplicité: prenez contact, partager et rencontez-vous !</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("histoire.jpg") %>
  </div>
</div>
