

  <div class="row">
    <div class="cardsearch col-xs-12 col-sm-8 offset-sm-2">
      <p></p>
      <% if params[:query].present? %>
      <div class="search">
        <%= form_tag category_teachers_path(@categories.first), method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Find a category" %>
          <% end %>
        </div>
        <% else  %>
        <div class="search">
          <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
            placeholder: "Find a category" %>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
