<div class="container">
  <h2>Devenir formateur </h2>
  <p> <%= current_user.firstname.capitalize %> <%= current_user.lastname.upcase %> : <%= current_user.email %> </p>
  <%= render "form" %>
</div>
