.banner {
  color: white;
  text-align: center;
  height: 500px;
  background-size: cover !important;
  &.banner h1 {
    font-family: "lato",  "Helvetica", "sans-serif";
    font-size: 38px;
    font-weight: bold;
    color: black;
    padding-top: 80px;
    font-weight: lighter;

  }
  &.connexionbtn {
    padding: 10px;
    font-size: 18px;
  }
}

.btn-lg {
  color: white;
}
