h1, {
	text-align: center;
	margin-bottom: 80px;
}

h2, h3, h4, h5, p {
  text-align: center;
}


#teacher-card {
  border-color: grey;
  border-style: solid;
  margin-bottom: 30px;
}

#teacher-card2 {
	text-align: center
}

#btn {
	text-align: center;
	margin: 20px;
}

.btn {
	text-align: center;
	padding: 10px;
	margin: 10px;
}