h1, {
	color: rgb(20, 20, 20);
	text-align: center;
	margin-bottom: 80px;
}

h2, h3, h4, h5, p {
	color: rgb(20, 20, 20);
  text-align: center;
}

hr {
	border-style: solid;
}

div {
	text-align: center;
}

.avatar-large {
	margin: 20px;
  width: 75px;
  border-radius: 50%;
}

.container {
	text-align: center;
}

#teacher-card {
	background-color: rgb(230, 230, 230);
  border-color: rgb(200, 200, 200);
  border-style: outset;
  margin-bottom: 30px;

}

#teacher-card2 {
	text-align: center
}

#btn {
	text-align: center;
	margin: 20px;
}

.btn {
	text-align: center;
	padding: 10px;
	margin: 10px;
}

.col {
	width: 1000px;
}