h1 {
	text-align: center;
	margin-bottom: 80px;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  text-align: center;
}

#teacher-card {
  border-color: grey;
  border-style: solid;
  margin-bottom: 30px;
}

#btn {
	text-align: center;
	margin: 20px;
}

.btn {
	text-align: center;
	padding: 10px;
	margin: 10px;
}