.wrapper-white {
    background: white;
    color: black;
    padding: 2em 0;
    h2 {
    font-weight: 200;
    font-size: 55px;
    text-align: center;
    }
    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }
}
