
.featurette-divider  {
    margin: 5rem 0;
}


.link-featurette {
  text-decoration: none !important;
  color: black;
  &:hover {
    text-decoration: none !important;
    color: black;
  }
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;

}

.featurette-image {
  width: 500px;
  height: 500px;
}
.text-category {
  text-decoration: none;

  padding: 20px;
}

.featurette {
  padding: 20px;
  h2 {
    font-size: 34px;
    text-align: left;
    font-family: $headers-font-light;

  }
  h3 {
    font-size: 24px;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
  }
  p {
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
  }

}


.imgcategory {
  
  background-position: center !important;
  background-size: cover !important;

}
