


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-color: rgb(90,90,90);


}

.card {

    background-color: rgb(60,60,60);
    color: rgb(240,240,240);
    border-style: outset;
    border-color: rgb(50,50,50);
  /* Added */
    float: none; /* Added */
    margin-top: 30px; /* Added */
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }

}

.card p {
  font-family: 'Nunito';
}

.card h5 {
  font-family: 'lato';
  font-size: 38px;
}

.link-featurette {
  text-decoration: none !important;
  color: white;
  font-style: $headers-font-light;
  &:hover {
    text-decoration: none !important;
    color: white;
  }
}

.search {
	margin: 100px;
}
